@import "tailwindcss";

:root {
  --background-color: #ffffff;
  --foreground-color: #1b1d1e;
  --secondary-color: #5d5d5d;
  --tertiary-color: rgb(22, 111, 166);
}

/* Dark theme variables */
[data-theme="dark"] {
  --background-color: #1e2630;
  --foreground-color: #e6f0ff;
  --secondary-color: #8f8f8f;
  --tertiary-color: rgb(148, 214, 255);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition:
    background-color 0.3s,
    color 0.3s; /* Smooth transition */
}

h1 {
  font-size: clamp(0.5rem /* 8px */, 3vw + 0.25rem /* 4px */, 6rem /* 96px */);
}

h2 {
  font-size: clamp(
    0.5rem /* 8px */,
    1.5vw + 0.2rem /* 3.2px */,
    4rem /* 64px */
  );
}

p {
  font-size: clamp(
    0.5rem /* 8px */,
    1.25vw + 0.2rem /* 3.2px */,
    4rem /* 64px */
  );
}

html {
  scrollbar-color: var(--secondary-color) var(--background-color);
}

@layer utilities {
  .theme-toggle {
    @apply flex items-center gap-2 rounded-full p-1 w-10 transition-colors border-(--foreground-color) border;
  }

  .theme-toggle-knob {
    @apply flex items-center justify-center w-4 h-4 rounded-full transition-transform text-(--foreground-color);
  }

  .theme-toggle-knob.dark {
    @apply translate-x-4;
  }

  .secondary-color {
    @apply text-(--secondary-color);
  }

  .tertiary-color {
    @apply text-(--tertiary-color);
  }
}

/* Keyframes */
@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
    visibility: visible;
  }
}
@keyframes move {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

/* Utility */
@layer utilities {
  .animate-typing {
    animation:
      typing 2s steps(60) forwards,
      blink 0.7s forwards,
      move 2s ease-out forwards;
  }
}
